extends ../../layouts/slides

block head
    title Fail

block slide
    .slide 
        img(src='http://1.bp.blogspot.com/_jlbtQ09PdZg/TIGd0mAPH7I/AAAAAAAAADw/HyDhGRi0s-E/s1600/sorry-you-just-lost-the-game.jpg')