extends ../../layouts/slides

block head
    title Electoral Battle Ground

block neck
    link(rel='stylesheet', href='../views/9/style.min.css?#{cacheBreaker}')

block slide
    .slide
        iframe(src='http://www.brinkbit.com/games/ebg/')
