extends ../../layouts/slides

block head
    title Tech Stack

block slide
    .slide
        h1 Tech Stack
        h2 Coming soon:
        ul
            li ramda
            li babel
            li browserify
            li react
            li redux

        h2 Frameworks:
        ul
            li backbone / underscore
            li express
            li bootstrap
            li jquery

        h2 Storage:
        ul
            li mongo / mongoose

        h2 Testing:
        ul
            li karma
            li mocha
            li chai
            li sinon
            li supertest

        h2 Linting:
        ul
            li jshint
            li eslint

        h2 Building / Task Running:
        ul
            li grunt
            li uglify
            li nodemon

        h2 Logging:
        ul
            li morgan
            li winston

        h2 Security:
        ul
            li passport
            li csurf, cookie-parser, js-cookie
            li bcrypt
            li helmet
            li nsp
            li hpp

