extends ../../layouts/slides

block head
    title Brinkbit

block neck
    link(rel='stylesheet', href='../views/4/style.min.css?#{cacheBreaker}')

block slide
    .slide 
        img(src='../images/creepyPhoto.jpg')
