extends ../../layouts/slides

block head
    title Shadow of the Colossus

block slide
    .slide 
        iframe(width="560" height="315" src="https://www.youtube.com/embed/QgJRS-Iqmdw" frameborder="0" allowfullscreen)