extends ../../layouts/slides

block head
    title Super Meat Boy

block slide
    .slide 
        iframe(width="560" height="315" src="https://www.youtube.com/embed/P2pwdK7rEpI" frameborder="0" allowfullscreen)