extends ../../layouts/slides

block head
    title Super Meat Boy

block slide
    .slide 
        iframe(width="560" height="315" src="https://www.youtube.com/embed/Ede7qFbrbKI" frameborder="0" allowfullscreen)