extends ../../layouts/slides

block head
    title Game Elements

block slide
    .slide 
        ul
            li Graphics
            li Story Telling
            li Feel
            li Achievement
            li System
            li Surprise
