extends ../../layouts/slides

block head
    title Farmville

block slide
    .slide 
        iframe(width="560" height="315" src="https://www.youtube.com/embed/poq5RSNmYnM" frameborder="0" allowfullscreen)