extends ../../layouts/slides

block head
    title Tic Tac Toe

block slide
    .slide 
        img(src='http://previews.123rf.com/images/anikasalsera/anikasalsera0809/anikasalsera080900020/3526260-Hand-drawn-tic-tac-toe-game-isolated-on-white--Stock-Photo.jpg')