extends ../../layouts/slides

block head
    title Brinkbit

block neck
    link(rel='stylesheet', href='../views/5/style.min.css?#{cacheBreaker}')

block slide
    .slide
        img(src='../images/mica.jpg')
